#calculator{
margin: 0 auto;
height: 0 auto;
width: 400px;
background-color: burlywood;
border: 2px solid;
border-radius: 5px;
padding: 10px;
}

#indicator{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#conclusion{
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: right;
    word-wrap: break-word;
    font-size: 30px;
}
#buttons{
text-align: center;
}

button{
    width: 80px;
    height: 50px;
    margin: 4px;
    border-radius: 5px;
    background-color: aliceblue;
    outline: none;
}